body,html,#root{
width: 100vw;
height: 100vh;
margin: 0px;
padding: 0px;
overflow: hidden;
}
.Loginpage{
  display: flex;
  justify-content: center;
width: 100vw;
height: 110vh;
overflow: hidden;
margin: 0px;
padding: 0px;
}
.LoginBox{
  width:50vw;
  height: 0vh;
  position: absolute;
  top: 0px;
}