.my-container22 {
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 0;
    position: absolute;
    top:0px;
    left: 0px;
  }
  .your-class {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  